n8n-workflows/wf4-zatwierdz-ekstrakcje.json
{
  "id": "d4d8f1b3-6c4d-4eae-be5b-4d5e6f7a8b14",
  "name": "WF-4 — Zatwierdzenie ekstrakcji → task audytu",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zatwierdz-ekstrakcje",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1a5c8e0-3f1a-4b7a-8b2e-1a2b3c4d5e41",
      "name": "Webhook: Zatwierdź ekstrakcję",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "wf4-zatwierdz-ekstrakcje"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH ext AS (\n  UPDATE appdata.extractions\n  SET accepted_by = $2::bigint, accepted_at = now()\n  WHERE id = $1::bigint AND accepted_at IS NULL\n  RETURNING id, transcript_id, payload\n), tr AS (\n  SELECT dc.opportunity_id\n  FROM appdata.transcripts t\n  JOIN appdata.discovery_calls dc ON dc.id = t.discovery_call_id\n  WHERE t.id = (SELECT transcript_id FROM ext)\n), opp AS (\n  SELECT o.id AS opportunity_id, o.client_id, c.type AS client_type, c.organization_id\n  FROM appdata.opportunities o\n  JOIN appdata.clients c ON c.id = o.client_id\n  WHERE o.id = (SELECT opportunity_id FROM tr)\n), org_update AS (\n  UPDATE appdata.organizations\n  SET business_context = (SELECT payload -> 'business_context' FROM ext)\n  WHERE id = (SELECT organization_id FROM opp)\n  RETURNING id\n), participant AS (\n  INSERT INTO appdata.participants (client_id, communication_situations)\n  SELECT (SELECT client_id FROM opp),\n         ARRAY(SELECT jsonb_array_elements_text(coalesce((SELECT payload -> 'communication_situations' FROM ext), '[]'::jsonb)))\n  RETURNING id\n), auditor AS (\n  SELECT id FROM appdata.users\n  WHERE role = 'auditor' AND active\n    AND email = CASE WHEN (SELECT client_type FROM opp) = 'B2B' THEN 'd.michalska@coaction.pl' ELSE 'a.kubiak@coaction.pl' END\n), audit AS (\n  INSERT INTO appdata.audits (participant_id, opportunity_id, auditor_user_id, status)\n  VALUES ((SELECT id FROM participant), (SELECT opportunity_id FROM opp), (SELECT id FROM auditor), 'planned')\n  RETURNING id\n), task AS (\n  INSERT INTO appdata.tasks (entity_type, entity_id, assignee_user_id, title, stage_ref)\n  VALUES ('audit', (SELECT id FROM audit), (SELECT id FROM auditor), 'Przeprowadź audyt — opportunity #' || (SELECT opportunity_id FROM opp), 'badanie_potrzeb')\n  RETURNING id\n)\nSELECT\n  (SELECT id FROM participant) AS participant_id,\n  (SELECT id FROM audit)       AS audit_id,\n  (SELECT id FROM task)        AS task_id;",
        "options": {
          "queryReplacement": "={{ [$json.body.extraction_id, $json.body.accepted_by_user_id] }}"
        }
      },
      "id": "b2b6d9f1-4a2b-4c8b-9c3f-2b3c4d5e6f42",
      "name": "Postgres: Zatwierdź ekstrakcję i zaplanuj audyt",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 300],
      "credentials": {
        "postgres": {
          "id": "REPLACE_W_UI",
          "name": "appdata (n8n_crm_user)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true, \"participant_id\": $json.participant_id, \"audit_id\": $json.audit_id, \"task_id\": $json.task_id } }}",
        "options": {}
      },
      "id": "c3c7e0a2-5b3c-4d9c-ad4a-3c4d5e6f7a43",
      "name": "Odpowiedz",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook: Zatwierdź ekstrakcję": {
      "main": [[{ "node": "Postgres: Zatwierdź ekstrakcję i zaplanuj audyt", "type": "main", "index": 0 }]]
    },
    "Postgres: Zatwierdź ekstrakcję i zaplanuj audyt": {
      "main": [[{ "node": "Odpowiedz", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
